/*
 * styles.css frontend stylesheet.
 *
 * @since 2.0.0
 */
.skeleton-content {
    height: auto;
    width: fit-content;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: skeleton-animation;
    animation-name: skeleton-animation;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px;
}

@keyframes skeleton-animation {
    0% {
        background-position: -650px 0;
    }
    100% {
        background-position: 650px 0;
    }
}
