/*
 * Builder-specific frontend stylesheet.
 *
 * @since 1.4.7
 * @version 1.4.7
 */
.joinotify-builder-page #adminmenumain,
.joinotify-builder-page #wpfooter {
	display: none !important;
}

.joinotify-builder-page:not(.joinotify-builder-page--debug) #wpadminbar {
	display: none !important;
}

.d-block {
	display: block;
}

.justify-content-center {
	justify-content: center;
}

.position-absolute {
	position: absolute;
}

.joinotify-loader-container {
	position: relative;
	width: 6rem;
	height: 6rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--joinotify-success);
}

.joinotify-loader {
	width: 6rem;
	height: 6rem;
	display: inline-block;
	color: var(--joinotify-success);
	-webkit-animation: transform-animation-circular 1.4s linear infinite;
	animation: transform-animation-circular 1.4s linear infinite;
}

.circular-progress-animation {
	stroke: currentColor;
	stroke-dasharray: 80px, 200px;
	stroke-dashoffset: 0;
	stroke-width: 3px;
	-webkit-animation: stroke-animation-circular 1.4s ease-in-out infinite;
	animation: stroke-animation-circular 1.4s ease-in-out infinite;
}

@-webkit-keyframes stroke-animation-circular {
	0% {
		stroke-dasharray: 1px, 200px;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -15px;
	}

	100% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -125px;
	}
}

@keyframes stroke-animation-circular {
	0% {
		stroke-dasharray: 1px, 200px;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -15px;
	}

	100% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -125px;
	}
}

@keyframes transform-animation-circular {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes transform-animation-circular {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#joinotify-builder-logo {
	width: 2.825rem;
}

.joinotify-loader-container .circle-base {
	position: absolute;
	z-index: -1;
	width: 6rem;
}

.joinotify-loader-container .circle-base circle {
	stroke-width: 3px;
	position: absolute;
	stroke: #ced4da;
}

.canvas-dot {
    background-size: 20px 20px;
    background-position: left -400px top -248px;
    background-image: radial-gradient(circle at 10px 10px, #DEE2E6 1px, transparent 0);
    background-color: #F8F9FA !important;
}

.joinotify-phone-field .iti {
	width: 100%;
	--iti-flag-height: 24px;
	--iti-flag-width: 32px;
	--iti-flag-sprite-width: 7808px;
	--iti-flag-sprite-height: 24px;
	--iti-spacer-horizontal: 10px;
	--iti-border-width: 1px;
	--iti-border-radius: 8px;
}

.joinotify-phone-field .iti__country-container {
	padding: 4px;
}

.joinotify-phone-field .iti__selected-country {
	min-width: 74px;
}

.joinotify-phone-field .iti__selected-country-primary {
	padding: 0 10px;
}

.joinotify-phone-field .iti__flag {
	background-image: var(--iti-path-flags-2x) !important;
	background-position: calc(var(--iti-flag-offset) * 2) 0 !important;
	background-size: var(--iti-flag-sprite-width) var(--iti-flag-sprite-height) !important;
	border-radius: 0.25rem;
}

.joinotify-phone-field input.iti__tel-input,
.joinotify-phone-field input.iti__tel-input[type='tel'],
.joinotify-phone-field input.iti__tel-input[type='text'] {
	min-height: 48px;
	padding-left: 65px !important;
	padding-right: 1rem;
	border-radius: 8px;
	font-size: 14px;
	line-height: 1.5rem;
	height: 3rem !important;
}

.joinotify-phone-field input.iti__tel-input:focus,
.joinotify-phone-field input.iti__tel-input[type='tel']:focus,
.joinotify-phone-field input.iti__tel-input[type='text']:focus {
	border-color: var(--joinotify-primary-700);
	box-shadow: 0 0 0 4px rgb(228 238 246 / 1);
}

.joinotify-phone-field .iti__country-list {
	min-width: 280px;
}

.iti__search-input {
	width: 100%;
	border-width: 0 !important;
	border-radius: 3px !important;
	padding-left: 30px !important;
	padding-right: 28px !important;
}